.Chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
    ;
    height: 100%;
    overflow: hidden;
}

.ChartTitle{
font-size: 2em;
}

.ChartData{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
}


.ChartData img {

    width: 100%;
    height: 70%;
    object-fit: contain;
}

.ChartInfo{

}